.grid-container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 960px;
}

.grid-square {
    border: 1px solid blue;
    box-sizing: border-box;
}

.on-mouse-over {
    background-color: red;
}

.grid-size-button {
    width: 100px;
    height: 30px;
    margin: 30px;
}